{
  "os_list": [
  {
      "name": "Raspberry Pi 2, 3, 4, and 400 (64-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero W",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi-arm64.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },
   {
      "name": "Raspberry Pi 2, 3, 4 and 400 (32-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero W",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi-armhf.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },
   {
      "name": "Raspberry Pi Zero 2 W PiTail (32-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero 2 W PiTail",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi-zero-w-armhf.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },
   {
      "name": "Raspberry Pi Zero 2 W (32-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero 2 W",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi-zero-2-w-armhf.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },
   {
      "name": "Raspberry Pi Zero W P4wnP1 A.L.O.A. (32-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero W P4wnP1 A.L.O.A",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi-zero-w-p4wnp1-aloa-armel.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },
   {
      "name": "Raspberry Pi Zero W PiTail (32-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero W PiTail",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi-zero-w-pitail-armel.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },
   {
      "name": "Raspberry Pi Zero W (32-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero W",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi-zero-w-armel.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },
   {
      "name": "Raspberry Pi 1 (Original) (32-bit)",
      "description": "Kali Linux image for the Raspberry Pi Zero W",
      "url": "https://cdimage.kali.org/{{ kali.release }}/arm/kali-linux-{{ kali.release }}-raspberry-pi1-armel.img.xz",
      "icon": "https://www.kali.org/whatever/kali.png",
      "release_date": "{{ kali.release.date }}",
      "extract_size": {{ extracted-size }},
      "extract_sha256": "{{ extracted-sha256sum }}",
      "image_download_size": {{ compressed-size }},
      "image_download_sha256": "{{ compressed-sha256sum }}",
      "website": "https://www.kali.org/"
   },   
 ]
}
